/* START :: CASE STUDY LIST */
.case-study{
    padding-bottom:36px
}
.case-study .case-study-card .case-study-img{
    border-radius:12px;
    width:100%;
    height:400px;
    display:block;
    object-fit:cover
}
.case-study .case-study-card .case-study-content{
    background-color:var(--light-primary-color);
    border-radius:12px;
    padding:24px;
    display:flex;
    flex-direction:column;
    gap:12px;
    align-items:baseline;
    max-width:calc(100% - 60px);
    width:100%;
    margin: -70px auto 0;
    z-index: 1;
    position: relative;
}
.case-study .case-study-card .case-study-content .technology-stack .technology{
    padding: 6px 16px 8px 16px;
    border-radius: 22px;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    color:var(--white-color);
    background-color:var(--primary-color);
}
.case-study .case-study-card .case-study-content .title{
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    color: var(--primary-color);
}
.case-study .case-study-card .case-study-content .read-more span{
    font-size: 16px;
    font-weight: 700;
    line-height: 28px;
    color: var(--primary-color);
    white-space: nowrap;
}
.case-study .case-study-card .case-study-content .read-more .divider{
    background: linear-gradient(90deg, var(--primary-color) 77.33%, rgba(153, 153, 153, 0) 100%);
    height: 1px;
    width: 100%;
}
.case-study .case-study-card .case-study-content .read-more img{
    min-width: 24px;
    width: 24px; 
    height: 24px;
    margin-bottom: 0;
    transform: translateX(0);
    transition: all 0.2s ease-in-out;
}
.case-study .case-study-card:hover .case-study-content .read-more img {
    transition: all 0.2s ease-in-out;
    transform: translateX(16px);
}
/* END :: CASE STUDY LIST */

/* START :: PAGINATION */

.pagination-wrapper .pagination-btn-wrapper{
    gap:16px
}
.pagination-wrapper .pagination-btn-wrapper button{
    width:40px;
    height:40px;
    background-color:var(--light-primary-color);
    border:0;
    border-radius:100px;
    font-size:16px;
    font-weight:700
}
.pagination-wrapper .pagination-btn-wrapper button img{
    white:24px;
    height:24px;
}
.pagination-wrapper .pagination-btn-wrapper button:hover, .pagination-wrapper .pagination-btn-wrapper button.active{
    background-color:var(--primary-color);
    color:var(--white-color);
}
.pagination-wrapper .pagination-btn-wrapper button:hover img, .pagination-wrapper .pagination-btn-wrapper button.active img{
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(217deg) brightness(106%) contrast(106%);
}
/* END :: PAGINATION */

/* START :: CASE STUDY DETAILS HERO BANNER */
.case-study-details-hero-banner .hero-content img{
    max-width:100% !important;
    border-radius:12px;
}
/* END :: CASE STUDY DETAILS HERO BANNER */

/* START :: KEY RESULTS */
.key-result-wrapper .section-title{
    margin-bottom:24px;
}
.key-result-wrapper:before{
    content:'';
    background-color:var(--primary-color);
    position:absolute;
    left:0;
    top:0;
    width:50%;
    height:100%;
}
.key-result-wrapper .business-solution-wrapper {
    gap:40px;
    padding-left:36px;
}
.key-result-wrapper .business-solution-wrapper .business-solution-content:first-child{
    padding-bottom:40px;
    border-bottom:1px solid rgb(27 71 156 / 10%)
}
.key-result-wrapper .business-solution-wrapper .business-solution-content p{
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: var(--dark-color);
}
.key-result-wrapper .key-point-wrapper .section-title{
    color:var(--white-color)
}
.key-result-wrapper .key-point-wrapper .key-points-box .key-points .key-point-title{
    width: fit-content;
}
.key-result-wrapper .key-point-wrapper .key-points-box .key-points .key-point-title .title{
    font-weight: 700;
    font-size: 70px;
    line-height: 70px;
    color: var(--white-color);
    width:fit-content
}
.key-result-wrapper .key-point-wrapper .key-points-box .key-points{
    padding:24px;
}
.key-result-wrapper .key-point-wrapper .key-points-box .key-points p{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: var(--white-color);
}
.key-result-wrapper .key-point-wrapper .key-points-box .key-points .key-point-title span{
    width: 24px;
    height: 24px;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    color: var(--white-color);
    background-color: var(--primary-color);
    border-radius:100%;
    top: 0;
    right: -8px;
}
.key-result-wrapper .key-point-wrapper .key-points-box .col-lg-6:nth-child(1){
    border-right:1px solid rgb(255 255 255 / 10%);
}
.key-result-wrapper .key-point-wrapper .key-points-box .col-lg-6:nth-child(2){
    border-bottom:1px solid rgb(255 255 255 / 10%);
}
.key-result-wrapper .key-point-wrapper .key-points-box .col-lg-6:nth-child(3){
    border-top:1px solid rgb(255 255 255 / 10%);
}
.key-result-wrapper .key-point-wrapper .key-points-box .col-lg-6:nth-child(4){
    border-left:1px solid rgb(255 255 255 / 10%);
}
/* END :: KEY RESULTS */


