/* START :: HERO BANNER */
.hero-banner-wrapper{
    background-color:var(--light-primary-color);
} 
.hero-banner-wrapper .hero-title{
    font-weight: 700;
    font-size: 44px;
    line-height: 66px;
    color:var(--primary-color);
}
.hero-banner-wrapper .hero-sub-title{
    font-size: 28px;
    font-weight: 700;
    line-height: 42px;
    color:var(--secondary-color);
    margin-bottom:8px
}
.hero-banner-wrapper .hero-content{
    padding-top:126px;
    padding-bottom:136px;
}
.hero-banner-wrapper .hero-content img{
    margin-left:auto;
    display:block;
    max-width:530px
}
.hero-banner-wrapper:before{
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: right;
    background-size: auto;
    background-image: url(../images/home/hero-banner-object.svg);
}
/* END :: HERO BANNER */

/* START :: ABOUT US */
.about-us-wrapper .video-wrapper .video-img{
    border-radius:8px;
}
.about-us-wrapper .video-wrapper .play-btn{
    background-color:var(--white-color);
    width:70px;
    height:70px;
    border-radius:100px;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    z-index:1;
    cursor:pointer;
}
.section-title{
    font-size: 32px;
    font-weight: 700;
    line-height: 44px;  
    color:var(--primary-color)  
}
.video-content-wrapper{
    padding-left:32px
}
.about-us-wrapper .section-title{
    margin-bottom:24px
}
.about-us-wrapper .para{
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    color:var(--dark-color);
}
.about-us-wrapper{
    padding:60px 0
}
/* END :: ABOUT US */

/* START :: CLOUD SOLUTIONS, AWS EXPERTISE, AI INNOVATION */
.cloud-solutions-wrapper .cloud-card .icon{
    width:120px;
    height:120px;
    border-radius:100%;
    background-color:var(--primary-15-color);
    margin-bottom:24px
}
.cloud-solutions-wrapper .cloud-card .icon img{
    width:80px;
    height:80px;
}
.cloud-solutions-wrapper .cloud-card .title{
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color:var(--primary-color)
}
.cloud-solutions-wrapper .cloud-card p{
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: var(--dark-color);
    max-width:410px;
}
.cloud-solutions-wrapper .cloud-card:nth-child(2){
    border-left:1px solid var(--border-color);
    border-right:1px solid var(--border-color);
}
.cloud-solutions-wrapper .cloud-card:hover img{
  transition: all 0.2s ease-in-out;
  transform: scale(1.1);
}
/* END :: CLOUD SOLUTIONS, AWS EXPERTISE, AI INNOVATION */

/* START :: KEY OFFERING */
.key-offering-wrapper {
    padding-top: 60px;
    padding-bottom: 36px;
    background-color: var(--light-primary-color);
    margin-top: 60px;
}
.key-offering-wrapper .key-card{
    border: 3px solid var(--primary-color);
    gap:12px;
    background-color:var(--white-color);
    border-radius:12px;
    height:100%;
}
.key-offering-wrapper .key-card img{
    width:60px;
    height:60px;
    margin-bottom:12px;
}
.key-offering-wrapper .key-card .title{
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    color:var(--primary-color);
    margin:0 0 12px 0;
}
.key-offering-wrapper .key-card p{
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color:var(--dark-color);
    margin:0;
    word-break: break-word;
}
.key-offering-wrapper .section-title{
    margin-bottom: 40px;
}
/* END :: KEY OFFERING */

/* START :: AWS SERVICE STACK AND BENEFITS */
.service-stack-wrapper{
    padding-top:60px; 
    padding-bottom:20px; 
}
.service-stack-wrapper .section-title{
    padding-bottom:60px; 
}
.tabbing-area{
    border-bottom:1px solid var(--border-color);
    margin-bottom:60px;
}
.tab-ui{
    border:0;
    justify-content:center;
    margin-bottom: 24px;
}
.tab-ui .nav-item .nav-link{
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
    border:0;
    color:var(--dark-color);
    padding:0 52px 0 52px;
    position:relative;
}
.tab-ui .nav-item .nav-link.active{
    color:var(--primary-color)
}
.tab-ui .nav-item .nav-link.active:before{
    content:'';
    border-radius: 100px;
    width:100%;
    height:3px;
    background-color:var(--primary-color);
    bottom:-24px;
    position:absolute;
    left:0;
}
.service-stack-wrapper .tab-img{
    border-radius:12px
}
.service-stack-wrapper .title{
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    margin-bottom:12px;
}
.service-stack-wrapper p{
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color:var(--dark-color)
}
.service-stack-wrapper .tab-text-content{
    padding-left:50px
}
.service-stack-wrapper .aws-benefits-wrapper{
    border-top:1px solid var(--border-color);
    margin-top:36px;
}
.service-stack-wrapper .aws-benefits-wrapper .title{
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    color:var(--primary-color)
}
.service-stack-wrapper .aws-benefits-wrapper img{
    width:22px;
    height:22px;
}
.service-stack-wrapper .aws-benefits-wrapper li{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color:var(--dark-color)
}
.service-stack-wrapper .aws-benefits-wrapper .right-side{
    padding-left:60px;
    border-left:1px solid var(--border-color);
}
/* END :: AWS SERVICE STACK AND BENEFITS */

/* START :: SERVICES */
.service-wrapper{
    padding-top:60px;
    padding-bottom:12px;
}
.service-wrapper .ready-service-card .btn:hover{
    background-color: var(--secondary-color);
    color: var(--white-color);
}
.service-wrapper .ready-service-card .btn:hover img{
    filter: brightness(0) saturate(100%) invert(100%) sepia(6%) saturate(0%) hue-rotate(70deg) brightness(108%) contrast(108%);
}
.service-wrapper .section-title{
    margin-bottom:60px
}
.service-wrapper .ready-service-card{
    background-color:var(--primary-color);
    border-radius:12px;
    height:100%;
}
.service-wrapper .ready-service-card .ready-title{
    font-size: 30px;
    font-weight: 700;
    line-height: 42px;
    color:var(--white-color);
    margin-bottom:24px
}
.service-wrapper .ready-service-card p{
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color:var(--white-color);
    word-break: break-word;
}
.service-wrapper .ready-service-card .get-text{
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
}
.service-wrapper .ready-service-card .btn{
    background-color:var(--white-color);
    color:var(--primary-color);
    width: fit-content;
    margin-top:auto;
}
.service-wrapper .ready-service-card .btn:hover{
    background-color:var(--secondary-color);
    color:var(--white-color);
}
.service-wrapper .ready-service-card .btn img{
    width:20px;
    height:20px;
}
.service-wrapper .ready-service-card .btn:hover img{
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7500%) hue-rotate(116deg) brightness(109%) contrast(109%);
}
.service-wrapper .service-card{
    background: linear-gradient(180deg, rgba(184, 208, 254, 0.5) 0%, rgba(255, 255, 255, 0.5) 61.5%);
    border-radius:12px;
    height:100%
}
.service-wrapper .service-card img{
    width:60px;
    height:60px;
    margin-bottom:12px;
}
.service-wrapper .service-card .title{
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    color: var(--primary-color);
    margin: 0 0 12px 0;
}
.service-wrapper .service-card p{
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: var(--dark-color);
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.service-wrapper .service-card ul li{
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: var(--dark-color);
    position:relative;
}
.service-wrapper .service-card ul li:before{
    content:'';
    position:absolute;
    left: -30px;
    top: 8px;
    width:16px;
    height:16px;
    background-color:var(--primary-color);
    border-radius:100px;
}
.service-wrapper .service-card ul li:after{
    content:'';
    position:absolute;
    left: -26px;
    top: 12px;
    width:8px;
    height:8px;
    background-color:var(--white-color);
    border-radius:100px;
}
.service-wrapper .service-card .read-more label{
    font-size: 16px;
    font-weight: 700;
    line-height: 28px;
    color:var(--primary-color);
    white-space:nowrap;
    cursor: pointer;
}
.service-wrapper .service-card .read-more a img{
    min-width:24px;
    width:24px;
    height:24px;
    margin-bottom:0;
    transform: translateX(0);
    transition: all 0.2s ease-in-out;
}
.service-wrapper .service-card .read-more a:hover img {
    transition: all 0.2s ease-in-out;
    transform: translateX(16px);
}
.service-wrapper .service-card .read-more .divider{
    background: linear-gradient(90deg, var(--primary-color) 0%, var(--white-color) 100%);
    height:1px;
    width:100%;
}
/* END :: SERVICES */

/* START :: WHAT OUR CLIENTS SAY */
.what-our-clients-wrapper{
    background-color:var(--light-primary-color);
    padding-top:60px;
    padding-bottom: 114px;
}
.what-our-clients-wrapper .section-title{
    margin-bottom:40px
}
.what-our-clients-wrapper .client-say-card{
    background-color:var(--white-color);
    border-radius:12px;
    padding:40px;
}
.what-our-clients-wrapper .client-say-card .rating{
    height:24px;
    margin-bottom:36px;
}
.what-our-clients-wrapper .client-say-card p{
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: var(--dark-color);
    margin-bottom:36px;
    word-break: break-word;
}
.what-our-clients-wrapper .client-say-card .client img{
    width:60px;  
    height:60px;  
    border-radius:100px;
}
.what-our-clients-wrapper .client-say-card .client h6{
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    color:var(--dark-color);
    margin-bottom:2px
}
.what-our-clients-wrapper .client-say-card .client p{
    font-size: 16px;
    font-weight: 700;
    line-height: 28px;
    color:var(--primary-color);
}
.client-say-slider.slick-slider {
    margin:0 -12px;
}
.client-say-slider .slick-slide {
    margin-right:12px;
    margin-left:12px;
}
.client-say-slider .slick-dots {
    bottom: -52px;
}
.client-say-slider .slick-dots li{
    width:auto;
    height:auto
}
.client-say-slider .slick-dots li button{
    width:8px;
    height:8px;
    padding:0;
    background-color:var(--border-color);
    border-radius:100px;
    transition: all 0.5s ease-in-out;
}
.client-say-slider .slick-dots li.slick-active button{
    width:36px;
    background-color:var(--primary-color);
}
.client-say-slider .slick-dots li button:before{
    display:none
}
/* END :: WHAT OUR CLIENTS SAY */

/* START :: FREQUENTLY ASKED QUESTIONS */
.faq-wrapper{
    padding-top:60px;
    padding-bottom:60px;
}
.faq-wrapper:before{
    content:'';
    background-image:url('../images/home/faq-bg.png');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    position:absolute;
    height:80%;
    left:0;
    top:0;
    width:100%;
    z-index:-1;
    background-attachment: fixed;
}
.accordion-button::after{
    content:'';
    background-image:url('../images/icons/circle-plus.svg');
    min-width: 32px;
    width: 32px;
    height: 32px;
    position: absolute;
    right: 0;
    top: 0px;
    background-repeat: no-repeat;
    background-size: contain;
    z-index:1;
    transition: all 0.2s ease-in-out;
}
.accordion-button:not(.collapsed)::after {
    background-image:url('../images/icons/circle-minus.svg');
    transform: none;
    min-width: 32px;
    width: 32px;
    height: 32px;
    position: absolute;
    right: 0;
    top: 0px;
    background-repeat: no-repeat;
    background-size: contain;
    z-index:1;
    transition: all 0.2s ease-in-out;
    background-color:var(--primary-color);
    border-radius:100px
}
.faq-wrapper .section-title{
    margin-bottom:16px
}
.faq-wrapper .accordion-item{
    background: transparent;
    border: 0;
    border-radius:0;
    border-bottom:1px solid var(--border-color);
    padding:32px 0
}
.faq-wrapper .accordion-item .accordion-header .accordion-button{
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    color: var(--dark-color-2);
    box-shadow:none;
    background-color: transparent;
    border-radius:0;
    padding:0 40px 0 0;
}
.faq-wrapper .accordion-body{
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: var(--dark-color);
    padding:24px 0 0 0
}
.accordion-button:not(.collapsed) {
    background-color: transparent;
    box-shadow:none;
}
.faq-wrapper .accordion-item .accordion-header .accordion-button[aria-expanded="true"] {
    color: var(--primary-color);
}
/* END :: FREQUENTLY ASKED QUESTIONS */

/* START :: GET IN TOUCH */
.get-touch-wrapper{
    background-color:var(--primary-color);
    padding:60px 0;
}
.get-touch-wrapper .get-form-card{
    background-color:var(--white-color);
    padding:40px;
    border-radius:12px;
}
.get-touch-wrapper .btn{
    border-radius:12px
}
.get-touch-wrapper .section-title{
    color:var(--white-color)
}
.get-touch-wrapper p, .get-touch-wrapper a{
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color:var(--white-color);
    margin-bottom:40px;
    max-width:600px;
}
.get-touch-wrapper a:hover{
    color:var(--secondary-color) !important;
}
.get-touch-wrapper .get-in-details .get-card .get-img{
    background-color:var(--white-color);
    height:80px;
    width:80px;
    min-width:80px;
    border-radius:100px;
}
.get-touch-wrapper .get-in-details .get-card .get-img img{
    width:45px;
    height:45px;
}
.get-touch-wrapper .get-in-details .get-card h6{
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    color:var(--white-color);
    margin-bottom:8px
}
.get-touch-wrapper .get-in-details{
    display:flex;
    align-items:center
}
.get-touch-wrapper .get-in-details .call{
    padding-right:30px;
    margin-right:30px;
    border-right:1px solid var(--white-color)
}
.get-touch-wrapper .get-in-details .addredd{
    border-top:1px solid var(--white-color);
    width:100%;
}
.get-touch-wrapper .get-in-details .get-card {
    flex: 1;
}
/* END :: GET IN TOUCH */

