/* START :: TOP HEADER */
.top-header{
    padding-top:12px;
    padding-bottom:12px;
}
.top-header .follow-us span{
    font-size: 12px;
    font-weight: 700;
    line-height: 20px;
    color:var(--white-color);
    display:inline-block;
    margin-right:10px
}
.top-header .follow-us ul{
    list-style:none;
    gap:14px
}
.top-header .follow-us ul a{
    display:flex;
    align-items:center;
    justify-content:center;
    width:24px;
    height:24px
}
.top-header .contact-location ul{
    list-style:none;
    gap:24px
}
.top-header .contact-location ul li a{
    gap:12px;
    font-size: 12px;
    font-weight: 700;
    line-height: 22px;
    color:var(--white-color);
    align-items: flex-start !important;
}
.contact-location a:hover img,
.follow-us a:hover {
    transform: scale(1.1);
    transition: all 0.2s ease-in-out;
}
.nv__mobile-dropdown{
    display: none !important;
}
.nv__desktop-dropdown{
    display: block !important;
}
/* END :: TOP HEADER */

/* START :: HEADER */
.header-wrapper{
    padding:22px 0;
    background-color:var(--white-color);
}
.header-wrapper .site-logo img{ 
    height:50px;
    width:auto
}
.header-wrapper ul{
    list-style:none;
    gap:52px;
}
.dropdown-menu:before {
    content: '';
    position: absolute;
    width: 30px;
    height: 25px;
    left: 14%;
    right: auto;
    z-index: -35;
    top: -10px;
    background-color: #ffffff;
    box-shadow: rgba(100, 100, 111, 0.1) -6px -7px 16px -2px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    transform: rotate(45deg);
}
.header-wrapper .menu-wrapper{
    display:flex;
    align-items:center;
    padding:0;
}
.header-wrapper ul a{
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    color: var(--dark-color);
}
.header-wrapper ul a:hover,
.header-wrapper ul a.active{
    color:var(--secondary-color)
}
.dropdown .dropdown-menu{
    padding:12px 24px;
    margin:0;
    border:0;
    border-radius:12px;
    box-shadow: 2px 4px 12px 0px rgba(0, 0, 0, 0.17);
    width: 330px;
    transform: translate(0px, 45px) !important;
}
.nv__service-bg {
    position: absolute;
    bottom: 0;
    right: 0;
    opacity: 0.10;
}
.dropdown-toggle::after {
    border: 0;
    background-image: url(../images/icons/chevronDown.svg);
    background-size: 16px;
    width: 16px;
    height: 10px;
    vertical-align: middle;
    background-repeat: no-repeat;
    margin-left: 8px;
    position: relative;
    top: 0px;
    transition: all 0.3s ease-in-out;
}
.dropdown .dropdown-menu li .dropdown-item.active{
    color:var(--secondary-color);
    font-weight:600
}
.dropdown-toggle.active::after {
    filter: brightness(0) saturate(100%) invert(78%) sepia(57%) saturate(709%) hue-rotate(341deg) brightness(98%) contrast(98%);
    top: 0;
    /* transition: all 0.5s ease-in-out; */
}
.dropdown-toggle.show::after {
    transform: rotate(180deg);
    transition: all 0.2s ease-in-out;
}
.dropdown-toggle:hover::after{
    filter: brightness(0) saturate(100%) invert(80%) sepia(70%) saturate(3257%) hue-rotate(348deg) brightness(115%) contrast(94%);
}
.dropdown .dropdown-menu li .dropdown-item{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;    
    color:var(--dark-color);
    border-bottom:1px solid var(--border-color);
    background-color:var(--white-color);
    padding: 12px 0;
    transition: all 0.2s ease-in-out;
}
.dropdown .dropdown-menu li:last-child .dropdown-item{
    border-bottom: 0;
}
.dropdown .dropdown-menu .dropdown-item:hover{
    color:var(--secondary-color);
    transition: all 0.3s ease-in-out;
}
.dropdown .dropdown-menu li:last-child .dropdown-item{
    border-bottom:0
}
.navbar-toggler{
    display:none;
}
.navbar-toggler  .line {
    background-color: var(--primary-color);
    display: block;
    height: 2px;
    transition: .2s ease-in-out;
    width: 25px;
}
.navbar-toggler  .line:nth-child(2) {
    margin: 6px 0;
}
.as__menu-open .navbar-toggler .line:first-child {
    -moz-transform: rotate(45deg) translate(2px, 7px);
    -ms-transform: rotate(45deg) translate(2px, 7px);
    -webkit-transform: rotate(45deg) translate(2px, 7px);
    transform: rotate(45deg) translate(2px, 7px);
}
.as__menu-open .navbar-toggler .line:nth-child(2) {
    opacity: 0;
}
.as__menu-open .navbar-toggler .line:last-child {
    -moz-transform: rotate(-45deg) translate(4px, -10px);
    -ms-transform: rotate(-45deg) translate(4px, -10px);
    -webkit-transform: rotate(-45deg) translate(4px, -10px);
    transform: rotate(-45deg) translate(4px, -10px);
}

.nv__header-wrap{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9;
    left: 0;
    right: 0;
    margin: 0 auto;
    transition: all 1s ease;
}
.nv__header-wrap.slide-down {
    box-shadow: 0px 0px 12px 6px rgb(0 0 0 / 6%);
}
.slide-down {
    animation: slide-down .7s;
    will-change: transform;
    z-index: 8;
}
.slideOutUp {
    animation: slideOutUp .7s;
    will-change: transform
}
.nv__animated-header {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    will-change: transform, visibility;
}

@-webkit-keyframes slide-down {
    0% {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
        visibility: visible;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        visibility: visible;
    }
}

@keyframes slide-down {
    0% {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
        visibility: visible;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        visibility: visible;
    }
}

@-webkit-keyframes slideOutUp {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        visibility: visible;
    }
    100% {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
        visibility: hidden;
    }
}

@keyframes slideOutUp {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        visibility: visible;
    }
    100% {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
        visibility: hidden;
    }
}

/* END :: HEADER */

/* START :: FOOTER */
.footer-wrapper {
    padding-top:60px;
    padding-bottom:30px;
}
.footer-wrapper .footer-logo .site-logo{
    height:70px;
    width:auto;
    margin-bottom:50px
}
.footer-wrapper .footer-logo ul{
    list-style:none;
}
.footer-wrapper .footer-logo ul li a{
    width:40px;
    height:40px;
    border-radius:100px;
    background-color:var(--primary-color);
}
.footer-wrapper .footer-logo ul li a img{
    width:22px;
}
.footer-wrapper .footer-logo ul li a:hover{
    border:1px solid var(--primary-color);
    background-color:var(--white-color);
}
.footer-wrapper .footer-logo ul li a:hover img{
    filter: brightness(0) saturate(100%) invert(24%) sepia(22%) saturate(5284%) hue-rotate(203deg) brightness(88%) contrast(93%);
}
.footer-wrapper .footer-quick-links .quick-link-title{
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    color:var(--primary-color);
    margin-bottom:20px
}
.footer-wrapper .footer-quick-links a{
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    color:var(--dark-color);
    transition: all 0.2s ease-in-out;
}
.footer-wrapper .footer-quick-links a:hover{
    color:var(--secondary-color);
}
.footer-wrapper .copy-right{
    padding-top:24px;
    margin-top:24px;
    border-top:1px solid var(--border-color);
}
.footer-wrapper .copy-right span{
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    color:var(--dark-color)
}
.footer-wrapper .copy-right span a{
    color:var(--primary-color);
    font-weight: 700;
    position:relative;
    transition: 0.2s ease-in-out;
}
.footer-wrapper .copy-right span a:hover{
    color:var(--secondary-color);
}
.footer-wrapper .copy-right span a:before{
    content: '';
    position: absolute;
    background-color: var(--secondary-color);
    width: 100%;
    height: 1px;
    bottom: -6px;
    transition: 0.2s ease-in-out;
    opacity: 0;
}
.footer-wrapper .copy-right span a:hover:before{
    bottom: -2px;
    transition: 0.2s ease-in-out;
    opacity: 1;
}
/* END :: FOOTER */
/* START :: COMMON */
.hero-banner-wrapper{
    margin: 142px 0 0;
}
.footer-wrapper a.active{
    color:var(--secondary-color);
    font-weight:600
}
.nv__desktop-dropdown .dropdown-menu:after{
    content: '';
    background-image:url('../images/servicedropdownbg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 160px;
    height: 129px;
    opacity: .1;
}
/* END :: COMMON */