@media only screen and (min-width:1681px){
    .container{
        max-width:1660px
    }
}
@media only screen and (max-width:1650.98px){
    .hero-banner-wrapper:before{
        background-size: contain;
    }
    .hero-banner-wrapper .hero-content{
        padding-top:100px;
        padding-bottom:100px;
    }
    .second-hero-banner .hero-content{
        padding-top:80px;
        padding-bottom:80px;
    }
    .hero-banner-wrapper .hero-content img {
        max-width: 450px;
    }
    .about-us-wrapper .section-title{
        margin-bottom:12px
    }
    .video-content-wrapper{
        padding-left:16px
    }  
    .cloud-solutions-wrapper .cloud-card .icon{
        width:100px;
        height:100px;
        margin-bottom:16px;
    }
    .cloud-solutions-wrapper .cloud-card .icon img{
        width:60px;
        height:60px;
    }
    .second-hero-banner .hero-left img{
        width:70%
    }
    .second-hero-banner .hero-right img{
        width:90%;
        margin-left:auto
    }
    .qoutes-wrapper .qoute:before,.qoutes-wrapper .qoute:after{
        width:80px;
        height:80px;
    }
    
}
@media only screen and (max-width:1400.98px){
    .container{
        max-width:100%;
        width:100%;
        padding:0 40px;
    }
}
@media only screen and (max-width:1280.98px){
    .top-header{ 
        display:none;
    }
    .footer-wrapper .footer-logo .site-logo{
        height:60px;
        margin-bottom:24px
    }
    .container{
        padding:0 20px;
    }
    .qoutes-wrapper .qoute{
        padding:40px 80px
    }
    .qoutes-wrapper .qoute:before{
        left:80px;
        top:20px;
    }
    .qoutes-wrapper .qoute:after{
        right:80px;
        bottom:20px;
    }
    .hero-banner-wrapper {
        margin: 94px 0 0;
    } 
    .hero-banner-wrapper .hero-title {
        font-size: 40px;
        line-height: 60px;
        max-width: 90%;
    }
}
@media only screen and (max-width:1250px){
    .header-wrapper ul{
        gap: 36px;
    }
}
@media only screen and (max-width:1024.98px){
    .dropdown-toggle::after {
        position: absolute;
        top: 20px;
        right: 20px;
        left: auto;
        transition: all 0.5s ease-in-out;
    }
    .dropdown-toggle[aria-expanded="true"]::after {
        transform: rotate(180deg);
        transition: all 0.5s ease-in-out;
    }
    .nv__mobile-dropdown li a {
        font-size: 14px;
        padding: 4px 20px !important;
    }
    .nv__mobile-dropdown ul {
        background-color: #F5F7FD;
        padding: 0;
        border-radius: 8px;
    }
    .nv__mobile-dropdown li a {
        font-size: 14px;
    }
    .nv__mobile-dropdown ul li:last-child{
        border-bottom: 0;
    }
    .nv__mobile-dropdown{
        display: block;
    }
    .nv__desktop-dropdown{
        display: none;
    }
    .header-wrapper .site-logo {
        padding-left: 50px;
    }
    .nv__header-wrap {
        animation: unset !important;
        box-shadow: 0px 0px 12px 6px rgba(0, 0, 0, 0.06);
        z-index: 99;
    }
    .as__menu-open {
        overflow: hidden;
    }
    .menu-wrapper {
        background-color: #fff;
        border: 1px solid #e9ebec;
        border-radius: 0;
        -webkit-border-radius: 0;
        box-shadow: 0 8px 10px rgba(2, 32, 71, .1), 0 0 1px rgba(2, 32, 71, .08);
        left: 0;
        position: fixed;
        right: 0;
        top: 94px;
        transition: .5s ease-in-out;
        width: 100%;
        z-index: 9999;
        padding: 20px 0;
        height: 100vh;
        overflow-y: auto;
        transform: translateX(-100%);
        visibility: hidden;
        display: block;
        opacity: 0;
    }
    .as__menu-open .menu-wrapper {
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
        transition: .5s ease-in-out;
    }
    .header-wrapper .menu-wrapper{
        align-items: baseline;
        padding: 0;
        flex-direction:column;
        gap: 0;
    }
    .header-wrapper .menu-wrapper li {
        border-bottom: 1px solid #dddddd;
        width: 100%;
        padding: 10px 0;
    }
    .nv__mobile-dropdown ul{
         margin:0 20px;
    }
    .header-wrapper .menu-wrapper li a {
        padding: 10px 20px;
        display: inline-block;
        width: 100%;
        position: relative;
    }
    .navbar-toggler{
        display: block;
        position: absolute;
        left: 20px;
    }
    .header-wrapper .btn img{
        display:none
    }
    .key-offering-wrapper {
        padding-top:30px;
        padding-bottom:16px;
        margin-top: 40px;
    }
    .key-offering-wrapper .section-title{
        margin-bottom:36px
    }
    .service-stack-wrapper {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .service-wrapper {
        padding-top: 0px;
        padding-bottom: 8px;
    }
    .service-wrapper .section-title {
        margin-bottom: 30px;
    }
    .what-our-clients-wrapper {
        padding-top: 30px;
        padding-bottom: 84px;
    }
    .client-say-slider .slick-dots {
        bottom: -42px;
    }
    .what-our-clients-wrapper .section-title {
        margin-bottom: 30px;
    }
    .faq-wrapper{
        padding-top:30px;
        padding-bottom: 30px;
    }
    .faq-wrapper .section-title {
        margin-bottom: 0px;
    }
    .get-touch-wrapper p {
        margin-bottom: 0px;
        max-width:100%
    }
    .get-touch-wrapper {
        padding: 30px 0;
    }
    .our-comrehensive-wrapper .section-title {
        margin-bottom: 68px;
    }
    .service-timeline-wrapper {
        --bs-gutter-x: 40px;
        --bs-gutter-y: 30px;
    }
    .section-wrapper{
        padding:30px 0
    }
    .migration-wrapper {
        --bs-gutter-x: 24px;
    }
    .our-migration-wrapper .migration-card:before{
        display:none
    }
    .hero-banner-wrapper {
        margin: 94px 0 0;
        overflow: hidden;
    }
    .why-choose-wrapper .section-title {
        margin-bottom: 30px;
    }
    .get-touch-wrapper .get-in-details{
        flex-direction:column;
        align-items:self-start;
    }
    .get-touch-wrapper .get-in-details .call {
        border-right: none;
        border-bottom: 1px solid var(--white-color);
        width:100%
    }
    .footer-wrapper{
        padding-top:30px
    }
}
@media only screen and (max-width:991.98px){
    .hero-banner-wrapper .hero-content{
        padding:60px 0
    }
    .hero-banner-wrapper:before{
        display:none
    }
    .hero-banner-wrapper .hero-content .content{
        order:2;
        text-align:center
    }
    .hero-banner-wrapper .hero-content .content-img{
        order:1;
        margin-bottom:36px;
    }
    .hero-banner-wrapper .hero-content .content-img img{
        margin:0 auto;
        width:100%
    }
    .video-content-wrapper{
        padding-left:0;
        padding-top:24px;
    }
    .service-stack-wrapper .tab-img{
        margin-bottom:24px;
    }
    .service-stack-wrapper .tab-text-content {
        padding-left: 16px;
    }
    .tab-ui .nav-item .nav-link {
        padding: 0 36px 0 36px;
        white-space: nowrap;
    }
    .service-stack-wrapper .section-title {
        padding-bottom: 30px;
    }
    .tabbing-area {
        margin-bottom: 30px;
    }
    .service-stack-wrapper .aws-benefits-wrapper {
        margin-top: 24px;
    }
    .what-our-clients-wrapper .client-say-card {
        padding: 24px;
    }
    .what-our-clients-wrapper .client-say-card .rating {
        margin-bottom: 24px;
    }
    .what-our-clients-wrapper .client-say-card p {
        margin-bottom: 24px;
    }
    .what-our-clients-wrapper .client-say-card .client img {
        width: 70px;
        height: 70px;
    }
    .faq-wrapper .accordion-item {
        padding: 20px 0;
    }
    .faq-wrapper .accordion-body {
        padding: 16px 0 0 0;
    }
    .faq-wrapper .accordion-item .accordion-header .accordion-button {
        font-size: 18px;
        line-height:30px
    }
    .accordion-button::after, .accordion-button:not(.collapsed)::after {
        top: 5px;
    }
    .accordion-button::after, .accordion-button:not(.collapsed)::after{
        min-width: 24px;
        width: 24px;
        height: 24px;
    }    
    .get-touch-wrapper .get-in-details{
        display:flex;
        align-items:center;
        flex-direction:row
    }
    .get-touch-wrapper .get-in-details .call{
        border-bottom:none;
        width:50%;
        border-right:1px solid var(--white-color)
    }
    .get-touch-wrapper .get-form-card{
        margin-top:24px
    }
    .get-touch-wrapper p {
        margin-bottom: 24px;
    }
    .get-touch-wrapper .get-in-details .get-card .get-img {
        height: 70px;
        width: 70px;
        min-width: 70px;
    }
    .nv__footerlogo-wrap {
        border-bottom: 1px solid #dddddd;
        padding: 0 12px 30px;
    }
    .footer-wrapper {
        padding-top: 40px;
    }
    .get-touch-wrapper .get-form-card{
        padding:24px
    }
    .second-hero-banner .hero-content .btn{
        margin:0 auto
    }
    .qoutes-wrapper .qoute{
        padding:40px 40px
    }
    .qoutes-wrapper .qoute:before{
        left:40px;
    }
    .qoutes-wrapper .qoute:after{
        right:40px;
    }
    .our-migration-wrapper .migration-card{
        margin-bottom:60px
    }
    .our-migration-wrapper .migration-card:last-child{
        margin-bottom:0
    }
    .service-timeline-wrapper:before {
        height: 98%;
    }
    .why-choose-wrapper .choose-left {
        display:none;
    }
    .why-choose-wrapper .choose-right {
        display:none;
    }
    .why-choose-wrapper .why-choose{
        margin:0 auto;
        margin-bottom:36px
    }
    .hero-banner-wrapper .hero-title {
        font-size: 36px;
        line-height: 50px;
    }
    .hero-banner-wrapper .hero-sub-title {
        font-size: 24px;
        line-height: 36px;
    }
    .section-title {
        font-size: 28px;
        line-height: 40px;
    }
    .service-timeline-wrapper .comprehensive-img {
        width: 100px;
        height: 100px;
    }
    .service-timeline-wrapper .comprehensive-img img {
        width: 60px;
        height: 60px;
    }
    .map-wrapper .map{
        margin-top:30px;
        height:450px
    }
    .our-migration-wrapper .migration-oval-card{
        border-radius:12px
    }
}
@media only screen and (max-width:768.98px){
    .footer-wrapper .copy-right{
        padding-top:24px;
        margin-top:12px;
    }
    .tab-ui {
        overflow-y: hidden;
        overflow-x: auto;
        padding-bottom:25px;
        margin-bottom:0;
        flex-wrap:nowrap;
        justify-content: flex-start;
    }
    .qoutes-wrapper .qoute{
        padding:30px 30px
    }
    .qoutes-wrapper .qoute:before{
        left:30px;
        top:20px;
    }
    .qoutes-wrapper .qoute:after{
        right:30px;
        bottom:20px;
    }
}
@media only screen and (max-width:767.98px){
    .cloud-solutions-wrapper .cloud-card:nth-child(2){
        border-left:none;
        border-right:none;
        padding:24px 0;
        margin:24px 0;
        border-top:1px solid var(--border-color);
        border-bottom:1px solid var(--border-color);
    }   
    .service-timeline-wrapper:before, .service-timeline-wrapper .dot-point:before {
        display:none
    }
    .service-timeline-wrapper .left-content{
        text-align:left;
    }
    .service-timeline-wrapper {
        --bs-gutter-x: 24px;
        --bs-gutter-y: 10px;
    }
    .service-timeline-wrapper .comprehensive-img {
        margin:0 auto;
        margin-top: 16px;
    }
    .service-timeline-wrapper .title{
        text-align:center
    }

    .our-comrehensive-wrapper .section-title {
        margin-bottom: 16px;
    }
    .change-order-1{
        order:1
    }
    .change-order-2{
        order:2
    }
    .change-order-3{
        order:3
    }
    .change-order-4{
        order:4
    }
    .change-order-5{
        order:5
    }
    .change-order-6{
        order:6
    }
    .change-order-7{
        order:7
    }
    .change-order-8{
        order:8
    }
    .change-order-9{
        order:9
    }
    .change-order-10{
        order:10
    }
    .change-order-11{
        order:11
    }
    .change-order-12{
        order:12
    }
    .change-order-13{
        order:13
    }
    .change-order-14{
        order:14
    }
    .why-choose-wrapper .choose-content .choose-card  {
        flex-direction:column;
        gap:16px !important;
        justify-content:center;
        text-align:center
    }
    .why-choose-wrapper .choose-content .choose-card .choose-img{
        margin:0 auto;
    }
    .why-choose-wrapper .choose-content .choose-card:nth-child(2) {
        border-top: 1px solid var(--border-color);
        border-bottom: 1px solid var(--border-color);
        padding: 24px 0;
    }
    .why-choose-wrapper .choose-content {
        gap: 24px;
    }
    .hero-banner-wrapper .hero-sub-title, .hero-title, .qoutes-wrapper .qoute p, .our-migration-wrapper .migration-oval-card p, .why-choose-wrapper .choose-content .choose-card p, .cloud-solutions-wrapper .cloud-card p {
        text-align:left !important;
        display:block
    }
    .cloud-solutions-wrapper .cloud-card p{
        max-width:100%   
    }
    .second-hero-banner .hero-content .btn {
        margin: unset;
    }
    .key-offering-wrapper .key-card img{
        margin:0 auto;
        margin-bottom: 12px;
    }
}
@media only screen and (max-width:575.98px){
    .service-stack-wrapper .aws-benefits-wrapper .right-side {
        padding-left: 8px;
        border-left: none;
        border-top: 1px solid var(--border-color);
    }
    .get-touch-wrapper .get-in-details{
        flex-direction:column;
        align-items:self-start;
    }
    .get-touch-wrapper .get-in-details .call {
        border-right: none;
        border-bottom: 1px solid var(--white-color);
        width:100%
    }
    .header-wrapper .site-logo img {
        height: 30px;
        display:block     
    }
    .menu-wrapper{
        top: 84px;
    }
    .header-wrapper .btn {
        padding: 4px 14px;
        font-size: 14px;
    }
    .hero-banner-wrapper {
        margin: 84px 0 0;
    }
}
@media only screen and (max-width:412.98px){    
    .second-hero-banner .hero-content .btn{
        margin:0 auto;
        width:100% !important;
        justify-content:center !important
    }
    .second-hero-banner .hero-content .btn img{
        margin:unset
    }

}